<div class="row">
  <div class="col-md-12">
      <form>
          <div class="form-row">
            <div class="col-md-5 form-group">
              <label for="Name">Name</label>
              <input type="text" class="form-control" id="Name">
            </div>
            <div class="col-md-2 form-group">
              <label for="Amount">Amount</label>
              <input type="number" class="form-control" id="Amount">
            </div>
          </div>
      </form>
      <div class="row">
        <div class="col-md-12">
          <button type="submit" class="btn btn-success mr-2">Add</button>
          <button type="button" class="btn btn-danger mr-2">Delete</button>
          <button type="button" class="btn btn-primary">Clear</button>
        </div>
      </div>
  </div>
</div>
